@font-face{font-family:'Inter';font-weight:400 800;font-style:normal;font-display:block;src:url(Inter.woff2) format('woff2')}
@font-face{font-family:'JetBrains Mono';font-weight:400 700;font-style:normal;font-display:block;src:url(JetBrainsMono.woff2) format('woff2')}
@font-face{font-family:'Unbounded';font-weight:500 900;font-style:normal;font-display:block;src:url(Unbounded.woff2) format('woff2')}
@font-face{font-family:'Poppins';font-weight:500;font-style:normal;font-display:block;src:url(Poppins-500.woff2) format('woff2')}
@font-face{font-family:'Poppins';font-weight:600;font-style:normal;font-display:block;src:url(Poppins-600.woff2) format('woff2')}
@font-face{font-family:'Poppins';font-weight:700;font-style:normal;font-display:block;src:url(Poppins-700.woff2) format('woff2')}
@font-face{font-family:'Poppins';font-weight:800;font-style:normal;font-display:block;src:url(Poppins-800.woff2) format('woff2')}
